/* reset css */
*{-webkit-text-size-adjust:none}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background:transparent;
}
html{
	height:100%;
	background:#fff;
	-webkit-text-size-adjust: none;
}
body{
	min-height:100%;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', Helvetica, Arial, sans-serif;
	position:relative;
	background: #fff;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
ul{list-style: none;}
blockquote, q{quotes: none;}
a{
	color: $link-color;
	text-decoration: none;
	cursor:pointer;
	vertical-align:baseline;
	-webkit-tap-highlight-color:rgba(255,255,255,0.4);
}
a:hover{
	text-decoration: underline;
}
a:hover img{
	-moz-opacity:0.7;
	opacity:0.7;
}
table{border-collapse: collapse;}
input, select{vertical-align: middle;}
.center-box{
	margin: 0 auto;
	max-width: 1200px;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}
.mb{
	display: none;
}
.pc{
	display: block;
}
@media only screen and (max-width: 800px){
	.mb{
		display: block !important;
	}
	.pc{
		display: none !important;;
	}
}
@media only screen and (min-width: 800px){
	.mb{
		display: none !important;;
	}
	.pc{
		display: block !important;;
	}
}