/* section-column styles begin */
.section-column{
  overflow: hidden;
  padding: 92px 0;
  .title-column{
    overflow: hidden;
    text-indent: -9999px;
    height: 70px;
    margin:0 0 86px;
    background: url(../images/text-title-column.png) no-repeat 50%;
  }
  @media only screen and (max-width: 800px) {
    &{
      padding: 80px 0;
      .title-column{
        background: url(../images/text-title-column_m.png) no-repeat 50%;
        background-size: 300px 80px;
        height: 80px;
        margin-bottom: 70px;
      }
    }
  }
}
.two-column-block{
  overflow: hidden;
  @include box-flex;
  @include space-between;
  .two-column-sidebar{
    overflow: hidden;
    width: 100%;
    max-width: 280px;
    margin-right: 44px;
    .box-column-sidebar{
      overflow: hidden;
      border-top: 3px solid #888;
      margin:0 0 15px;
      h3{
        position: relative;
        display: block;
        overflow: hidden;
        line-height: 52px;
        font-size: 16px;
        margin: 0;
        padding:0 5px 0 23px;
        &:before{
          position: absolute;
          left: 1px;
          top: 50%;
          font-size: 16px;
          line-height: 20px;
          margin-top: -10px;
          font-weight: bold;
          color: #e7326d;
        }
      }
      .new-article-list{
        overflow: hidden;
        li{
          border-top: 1px solid #ccc;
          padding:14px 0;
          &:first-child{
            padding-top: 20px;
          }
          .wrap-box{
            display: block;
            @include box-flex;
            @include space-between;
            overflow: hidden;
            .image{
              width:60px;
              max-width: 60px;
              min-width: 60px;
              margin-right: 18px;
              img{
                display: block;
                width: 100%;
              }
            }
            .text-info{
              overflow: hidden;
              font-size: 13px;
              line-height: 22px;
              color: #444;
              p{
                margin: 0;
              }
            }
          }
        }
      }
      .column-category-list{
        overflow: hidden;
        border-top: 1px solid #ccc;
        padding: 14px 0 14px;
        li{
          a{
            display: block;
            position: relative;
            font-size: 14px;
            line-height: 30px;
            color: #444;
            padding: 0 10px;
            &:before{
              position: absolute;
              left: 0;
              top: 0;
            }
          }
          ul{
            padding:0 0 0 10px;
            border: 0;
            a{
              display: block;
              position: relative;
              color: #888;
              padding: 0 15px;
              &:before{
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
  .two-column-content{
    overflow: hidden;
    width: 100%;
    border-top: 3px solid #888;
  }
  @media only screen and (max-width: 800px) {
    &{
      display: block;
      padding:0 15px;
      .two-column-sidebar{
        display: none;
      }
    }
  }
}
.list-column{
  overflow: hidden;
  margin-bottom: 80px;
  li{
    padding: 28px 0;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    .box-column{
      @include box-flex;
      @include space-between;
      width: 100%;
      overflow: hidden;
      &:hover{
        text-decoration: none;
      }
      .image{
        width: 100%;
        min-width: 280px;
        max-width: 280px;
        margin-right: 25px;
        img{
          display: block;
          width: 100%;
        }
      }
      .text-info{
        overflow: hidden;
        width: 100%;
        .top{
          overflow: hidden;
          margin-bottom: 16px;
          .data{
            float: right;
            font-size: 14px;
            line-height: 25px;
            color: #888;
            &:before{margin-right: 4px;}
          }
          & i{
            display: inline-block;
            vertical-align: top;
            border: 1px solid #ccc;
            background: #eee;
            padding: 0 16px;
            font-size: 14px;
            line-height: 23px;
            color: #666;
          }
        }
        h2{
          font-size: 22px;
          line-height: 36px;
          color: #333;
          margin-bottom: 10px;
        }
        p{
          margin: 0;
          font-size: 14px;
          line-height: 28px;
          color: #333;
        }
      }
      @media only screen and (max-width: 800px) {
        &{
          display: block !important;
          .image{
            margin: 0 0 20px;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
          }
          .text-info{
            .top{
              margin-bottom: 10px;
              .data{
                display: block;
                float: none;
                margin-bottom: 5px;
              }
            }
            h2{
              font-size: 20px;
              line-height: 30px;
              margin-bottom: 10px;
            }
            p{
              margin: 0;
              font-size: 14px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 800px) {
    &{
      margin-bottom: 30px;
    }
  }
}
.column-content-block{
  overflow: hidden;
  border-bottom:  1px solid #ccc;
  padding-top: 28px;
  & .top{
    overflow: hidden;
    margin-bottom: 16px;
    & .data{
      float: right;
      font-size: 14px;
      line-height: 25px;
      color: #888;
    }
    & i{
      float: left;
      border: 1px solid #ccc;
      background: #eee;
      padding:0 15px;
      font-size: 14px;
      line-height: 23px;
      color: #666;
    }
  }
  & h2{
    font-size: 22px;
    line-height: 36px;
    color: #333;
    padding-bottom: 18px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }
  & .image{
    display: block;
    overflow: hidden;
    margin-bottom: 14px;
    img{
      display: block;
      width: 100%;
    }
  }
  & p{
    font-size: 14px;
    line-height: 28px;
    color: #444;
    margin-bottom: 40px;
  }
  & h3{
    border: 1px solid #e7326d;
    border-width: 2px 0;
    font-size: 20px;
    line-height: 48px;
    color: #e7326d;
    margin-bottom: 10px;
  }
  & h4{
    font-size: 18px;
    line-height: 40px;
    color: #444;
    padding:0 20px;
    margin-bottom: 10px;
    color: #444;
    background: #eee;
  }
  & h5{
    font-size: 16px;
    line-height: 20px;
    color: #444;
    padding:0 0 0 26px;
    position: relative;
    margin-bottom: 18px;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      width: 16px;
      height: 6px;
      background: #e7326d;
    }
  }
  .box-q{
    border: 10px solid #eee;
    overflow: hidden;
    background: #fff;
    padding: 20px 30px 20px 70px;
    position: relative;
    margin-bottom: 100px;
    &:after{
      content: "";
      position: absolute;
      top: 20px;
      left: 24px;
      width: 28px;
      height: 24px;
      background: url(../images/item-q.png) no-repeat 50%;
    }
    & p{
      margin: 0;
      font-size: 14px;
      line-height: 28px;
      color: #666;
    }
  }
  @media only screen and (max-width: 800px) {
    &{
      padding-top: 18px;
      & .top{
        margin-bottom: 14px;
        & .data{
          float: none;
          display: block;
          margin-bottom: 10px;
        }
        & i{
          float: none;
          display: block;
        }
      }
      & h2{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }
      & .image{margin-bottom: 15px;}
      & p{
        line-height: 25px;
        margin-bottom: 40px;
      }
      & h3{
        font-size: 18px;
        line-height: 45px;
        margin-bottom: 10px;
      }
      & h4{
        font-size: 18px;
        line-height: 40px;
        padding:0 12px;
        margin-bottom: 10px;
      }
      .box-q{
        border: 8px solid #eee;
        padding: 15px 18px 15px 40px;
        margin-bottom: 59px;
        &:after{
          content: "";
          position: absolute;
          top: 12px;
          left: 7px;
          width: 28px;
          height: 24px;
          background: url(../images/item-q.png) no-repeat 50%;
          background-size: 21px 18px;
        }
        & p{
          margin: 0;
          font-size: 14px;
          line-height: 25px;
          color: #666;
        }
      }
    }
  }
}
.bullet-list-colum{
  overflow: hidden;
  margin-bottom: 20px;
  li{
    overflow: hidden;
    position: relative;
    padding: 0 0 10px 30px;
    color: #444;
    font-size: 14px;
    line-height: 20px;
    &:before{
      position: absolute;
      top: 0;
      left: 15px;
      color: #444;
      font-size: 9px;
      line-height: 20px;
    }
  }
  @media only screen and (max-width: 800px) {
    &{margin-bottom: 10px;}
    & li{padding-bottom: 5px;}
  }
}
/* section-column styles end */