/* block-qa begin*/
.block-qa{
  overflow: hidden;
  padding: 50px 20px 0;
  .list-qa{
    overflow: hidden;
    margin-bottom: 60px;
    li{
      border-bottom: 1px solid #ccc;
      padding: 42px 0;
      h2{
        position: relative;
        line-height: 50px;
        font-size: 20px;
        color: #000;
        padding-left: 68px;
        background: url(../images/icon01.png) no-repeat;
        margin:0 0 11px;
      }
      h3{
        position: relative;
        line-height: 50px;
        font-size: 16px;
        color: #ff4753;
        padding-left: 68px;
        background: url(../images/icon02.png) no-repeat;
        a{
          color: #ff4753;
          text-decoration: none;
          display: none;
          &:hover{
            text-decoration: none;
          }
        }
      }
      p{
        line-height: 28px;
        font-size: 14px;
        color: #444;
        padding-left: 68px;
        margin: -10px 0 0;
      }
    }
  }
  .btn-other-questions{
    display: block;
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    background: #444444;
    background: -moz-linear-gradient(top,  #444444 0%, #444444 50%, #3e3e3e 50%, #3e3e3e 100%, #3e3e3e 100%);
    background: -webkit-linear-gradient(top,  #444444 0%,#444444 50%,#3e3e3e 50%,#3e3e3e 100%,#3e3e3e 100%);
    background: linear-gradient(to bottom,  #444444 0%,#444444 50%,#3e3e3e 50%,#3e3e3e 100%,#3e3e3e 100%);
    &:hover{
      -moz-opacity:0.8;
      opacity:0.8;
    }
  }
  @media only screen and (max-width: 800px) {
    &{
      padding: 0 16px;
      .list-qa{
        margin-bottom: 50px;
        li{
          padding:20px 0;
          h2{
            line-height: 25px;
            font-size: 15px;
            color: #000;
            padding-left: 36px;
            background: url(../images/icon01.png) no-repeat 0 50%;
            background-size: 25px !important;;
            margin:0 0 20px;
          }
          h3{
            line-height: 25px;
            font-size: 14px;
            padding-left: 36px;
            background: url(../images/icon02.png) no-repeat 0 50%;
            background-size: 25px !important;
            & > span{
              display: none;
            }
            & > a{
              color: #ff4753;
              position: relative;
              overflow: hidden;
              display: block;
              line-height: 25px;
              font-size: 14px;
              font-weight: bold;
              & span{
                float: left;
                margin-right: 6px;
              }
            }
          }
          p{
            line-height: 24px;
            font-size: 12px;
            padding-left: 36px;
            margin: 0;
            display: none;
          }
        &.active{
          & h3 > span{
            display: block;
          }
          & h3 > a{
            display: none;
          }
         }
        }
      }
    }
  }
}
/* block-qa end*/